<!DOCTYPE html>
<html lang="en" ng-app="SampleApp">
<head>
    <meta charset="UTF-8">
    <title>ng-include</title>

    <script src="../../../Libraries/angular.js"></script>
    <link rel="stylesheet" href="../../../Libraries/bootstrap.css">
    <link rel="stylesheet" href="../../../Libraries/bootstrap-theme.css">

    <script src="app.js"></script>
</head>
<body>
<div ng-controller="SampleAppCtrl" class="container">

    Maket <select ng-model="mode" ng-options="item.display for item in options track by item.value"></select>

    <!-- ng-switch  - директива використовується для переключання структури DOM на основі виразу. На відміну від ng-include
         директива не виконує загрузку із сервера даних, а робить видимим один із елементів, який є в DOM-->

    <div ng-switch on="mode.value" style="margin-top: 20px;">

        <table class="table" ng-switch-when="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tr ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.value}}</td>
            </tr>
        </table>

        <ul class="list-group" ng-switch-when="list">
            <li ng-repeat="item in items" class="list-group-item list-group-item-info">{{item.name}}:{{item.value}}</li>
        </ul>

        <ol class="list-group" ng-switch-when="budges">
            <li ng-repeat="item in items" class="list-group-item">
                <span class="badge">{{item.value}}</span>
                {{item.name}}
            </li>
        </ol>

    </div>

</div>
</body>
</html>